.t1 {  font-size: 16px; font-weight: normal; color: #385a99; font-family: "ºÚÌå"}
.t2 {  font-size: 16px; font-weight: bold; color: #385a99; font-family: "Arial"}
.bodytext {  font-family: "Arial"; font-size: 12px; color: #5c5c5c; line-height: 17px}
.btmtext {  font-family: "Arial"; font-size: 10px; color: #ffffff}
