%% -*- erlang -*-
{sub_dirs, ["rel", "apps/legolas"]}.
{cover_enabled, true}.
{erl_opts, [
    {parse_transform, lager_transform}, 
    {lager_truncation_size, 1024},
    debug_info, 
    warnings_as_errors
    ]}.
{edoc_opts, [{dir, "../../doc"}]}.
{deps, [
        {riak_core, "",
         {git, "git://github.com/basho/riak_core", "develop"}},
        %{riak_core, "1.4.*",
         %{git, "git://github.com/basho/riak_core", {tag, "1.4.2"}}},
        {cowboy, "",
         {git, "git://github.com/extend/cowboy.git", "master"}}
       ]}.
