%%
%% etc/app.config
%%
{cluster_name,          "Legolas"}.
{target_n_val,          4}.
{ring_state_dir,        "data/ring"}.
{ring_creation_size,    16}.
{gossip_interval,       60000}.
{vnode_management_timer, 10000}.
{handoff_concurrency,   2}. % Number of VNodes, per physical node, allowed to perform handoff at once.
%%{default_bucket_props, [
%%    {n_val, 3},
%%    {allow_mult, false},
%%    {last_write_wins, true},
%%    {chash_key_fun, {riak_core_util, chash_std_keyfun}}
%%]}.
%%{choose_claim_fun, {riak_core_claim, default_choose_claim}}.
%%{wants_claim_fun, {riak_core_claim, default_wants_claim}}.


{web_ip,       "127.0.0.1"}.
{web_port,     "18080"}.
{handoff_port,  "18081"}.

{legolas_http_port, "19090"}.
{legolas_http_listeners, "10"}.
{legolas_storage_backend, legolas_fileblock_backend}.
{legolas_chash_N, 3}.
{legolas_chash_R, 2}.
{legolas_chash_W, 2}.

%%
%% etc/vm.args
%%
{node,                  "legolas@127.0.0.1"}.
{cookie,                "legolas"}.
