%%
%% etc/app.config
%%
{ring_state_dir,        "data/ring"}.
{web_ip,       "127.0.0.1"}.
{web_port,     "18080"}.
{handoff_port,  "18081"}.
{app_http_port, "19090"}.
{app_http_listeners, "10"}.

%%
%% etc/vm.args
%%
{node,                  "legolas@127.0.0.1"}.
{cookie,                "legolas"}.
