%%
%% etc/app.config
%%
{ring_state_dir,        "data/ring"}.
{web_ip,                "127.0.0.1"}.
{web_port,              "8091"}.
{handoff_port,          "8101"}.
{app_http_port, "19091"}.
{app_http_listeners, "100"}.


%%
%% etc/vm.args
%%
{node,                  "legolas1@127.0.0.1"}.
{cookie,                "legolas"}.
