%%
%% etc/app.config
%%
{ring_state_dir,        "data/ring"}.
{web_ip,                "127.0.0.1"}.
{web_port,              "8093"}.
{handoff_port,          "8103"}.

{legolas_http_port, "19093"}.
{legolas_http_listeners, "100"}.
{legolas_storage_backend, legolas_fileblock_backend}.
{legolas_chash_N, 2}.
{legolas_chash_R, 1}.
{legolas_chash_W, 1}.

%%
%% etc/vm.args
%%
{node,                  "legolas3@127.0.0.1"}.
{cookie,                "legolas"}.
