%%
%% etc/app.config
%%
{ring_state_dir,        "data/ring"}.
{web_ip,                "127.0.0.1"}.
{web_port,              "8093"}.
{handoff_port,          "8103"}.
{app_http_port, "19093"}.
{app_http_listeners, "100"}.

%%
%% etc/vm.args
%%
{node,                  "legolas3@127.0.0.1"}.
{cookie,                "legolas"}.
